<!-- 
    		<h1>梁骁</h1>
    		<p>性别：男</p>
    		<p>最高学历：本科</p>
    		<p>工作年限：应届毕业生</p>
    		<p>联系电话：1529001986</p>
    		<p>联系邮箱：15296001986@163.com</p>
    		<p>一句话描述：一枚简单，希望从事web前端的青年应届生</p> -->
   
            <div class="row">
            	<div class="col-xs-9 col-xs-offset-2">
            		
            		<div>
            			<h5>梁骁</h5>
            			<p>最高学历：本科</p>
            			<p>性别：男</p>
            			<p>工作年限：应届毕业生</p>
            			<p>联系电话：1529001986</p>
			    		<p>联系邮箱：15296001986@163.com</p>
			    		<p>一句话描述：一枚简单，希望从事web前端的青年应届生</p>
            		</div>
            	</div>
            	<div class="col-xs-9 col-xs-offset-2">
            		<div>
            			<h5>2017.01-2017.01</h5>
            			<p>【作品名称】流式布局界面</p>
            			<p>关于阅读界面的设计，主要用了回弹模量、css来原生代码完成百分比流式布局</p>
            			<p><a href="liangyaoyao.github.io/jianli.html">作品地址:liangyaoyao.github.io/jianli.html</a></p>
            		</div>
            	</div>
            	<div class="col-xs-9 col-xs-offset-2">
            		
            		<div>
            			<h5>2017.01-2017.02</h5>
            			<p>【作品名称】简单阅读网站后台</p>
            			<p>阅读网站的后台，通过后台管理界面管理图书数据，动态显示到前台用户界面。</p>
            			<p><a href="http://112.74.178.119/index.php?m=admin&c=login&a=login">作品地址:"http://112.74.178.119/index.php?m=admin&c=login&a=login</a></p>
            		</div>
            	</div>
            </div>