 <div class="row" id="exprience">
		    	<div class="col-xs-12">
		    		<div class="row exprience-list">
		    			<div class="col-xs-4 icon-container">
		    			    <span class="glyphicon glyphicon-time"></span>
		    			</div>
		    			<div class="col-xs-8">
		    				<h4>2009-2013</h4>
		    				<p>高中：百色民族高中</p>
		    			</div>
		    		</div>
		    		<div class="row exprience-list">
		    			<div class="col-xs-4 icon-container">
		    			    <span class="glyphicon glyphicon-time"></span>
		    			</div>
		    			<div class="col-xs-8">
		    				<h4>20013-2017</h4>
		    				<p>桂林电子科技大学.本科.通信工程</p>
		    				<p>主修课程：C语言程序设计、计算机网络、微机原理、数据结构（C语言版)、通信原理</p>
		    			</div>
		    		</div>
		    		<div class="row exprience-list">
		    			<div class="col-xs-4 icon-container">
		    			    <span class="glyphicon glyphicon-time"></span>
		    			</div>
		    			<div class="col-xs-8">
		    				<h4>期望工作：</h4>
		    				<p>Web前端</p>
		    				<p></p>
		    			</div>
		    		</div>
		    	</div>
		    </div>