<div class="row" id="work">
	<div class="col-xs-9 col-xs-offset-2 item">
		<div class="circle-out">
			<div class="circle-in">
				
			</div>
		</div>
		<div>
			<h5>2017.01-2017.02</h5>
			<p>【作品名称】简单阅读网站</p>
			<p>bootstrap框架做响应式界面开发，Jquery函数库做页面的动态效果和AJAX发送异步请求，服务端使用thinkphp框架，数据库使用Mysql存放数据，通过整个小作品的搭建，大概了解哦前后端是通过通过URL接口联系的，如何实现前后端的分类。整个网站没有在数据库中添加许多内容，所以内容看起来少。</p>
			<p><a href="http://112.74.178.119">作品地址:http://112.74.178.119</a></p>
		</div>
	</div>
	<div class="col-xs-9 col-xs-offset-2 item">
		<div class="circle-out">
			<div class="circle-in">
				
			</div>
		</div>
		<div>
			<h5>2017.01-2017.01</h5>
			<p>【作品名称】流式布局界面</p>
			<p>关于阅读界面的设计，主要用了回弹模量、css来原生代码完成百分比流式布局</p>
			<p><a href="liangyaoyao.github.io/jianli.html">作品地址:liangyaoyao.github.io/jianli.html</a></p>
		</div>
	</div>
	<div class="col-xs-9 col-xs-offset-2 item">
		<div class="circle-out">
			<div class="circle-in">
				
			</div>
		</div>
		<div>
			<h5>2017.01-2017.02</h5>
			<p>【作品名称】简单阅读网站后台</p>
			<p>阅读网站的后台，通过后台管理界面管理图书数据，动态显示到前台用户界面。</p>
			<p><a href="http://112.74.178.119/index.php?m=admin&c=login&a=login">作品地址:"http://112.74.178.119/index.php?m=admin&c=login&a=login</a></p>
		</div>
	</div>
</div>